<nav class="navigation">
    <ul class="navigation__list">
      <% if (menuLinks.length > 0) { %>
        <% menuLinks.forEach(function(link) { %>
          <li class="navigation__item">
            <a class="navigation__link" href="<%= link.path %>"
                
                <%= link.label %>
            </a>
          </li>
        <% }) %>
      <% } %>
    </ul>
</nav>