<html lang="pl_PL">
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="public/css/main.css">
  </head>
  <body>
    <main>
    <nav>
      <a href="/">Home</a>
    </nav>
    <h1 class="heading">404 - Not Found</h1>
    </main>
  </body>
</html>
