<html>
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="public/css/main.css">
  </head>
  <body>
    <main>
    <!-- ðŸ— Structo the Builder -->
    <!-- Wykorzystaj odpowiedniÄ… skÅ‚adniÄ™ EJS do odpowiednich zadaÅ„. -->
    <!-- PodpowiedÅº: <%- include(..., { menuLinks: ..., activeLinkPath: ... }); %> -->
    <%- include(..., { menuLinks: ..., activeLinkPath: ... }); //nwm jezu
    <nav>
      <a href="/">Home</a>
      <a href="/product/new">Newest product</a>
      <a href="/logout">Logout</a>
    </nav>
    <h1 class="heading">Add product</h1>
    <form class="form" action="/product/add" method="POST">
        <nav>class="form__group">
            <label class="form__label">Name</label><input class="form__input" type="text" name="name" />
        </nav> 
        <nav>class="form__group">
            <label class="form__label">Description</label><input class="form__input" type="text" name="description" />
        </nav>
      <button class="button" type="submit">Add</button>
    </form>
    </main>
  </body>
</html>