<html>
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="public/css/main.css">
  </head>
  <body>
    <main>
    <%- include('views/partials/navigation.ejs' { menuLinks: ..., activeLinkPath: ... }) %>
    <h1 class="heading">Add product</h1>
    <form class="form" action="/product/add" method="POST">
        <nav>class="form__group">
            <label class="form__label">Name</label><input class="form__input" type="text" name="name" />
        </nav> 
        <nav>class="form__group">
            <label class="form__label">Description</label><input class="form__input" type="text" name="description" />
        </nav>
      <button class="button" type="submit">Add</button>
    </form>
    </main>
  </body>
</html>