<html>
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="public/css/main.css">
  </head>
  <body>
    <main>
    <h1 class="heading">Home</h1>
    <nav>
      <a href="/product/add">Add product</a>
      <br />
      <a href="/product/new">Newest product</a>
      <br />
      <a href="/logout">Logout</a>
    </nav>
    </main>
  </body>
</html>