<html>
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="public/css/main.css">
  </head>
  <body>
    <main>
    <h1 class="heading">Logout</h1>
    <nav>
      <a href="/">Home</a><br /><a href="/kill">Logout from application</a>
    </nav>
    </main>
  </body>
</html>
