<html>
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="public/css/main.css">
  </head>
  <body>
    <main>
    <h1 class="heading">Products</h1>
    <% if (products?.length > 0) { %> 
        <%- include('views/partials/navigation.ejs')%>
        <% products.forEach(product => { %> 
            <li>
                
            </li>
        <% }); %>
    <% } else { %>
        <div>No products available.</div> 
    <% } %>     
    </main>
  </body>
</html>
